mixin dropdown({text, buttonTheme, textTheme, splitted, opened})
  -
    const buttonThemeModifiers = {
      flat: 'dropdown__button_flat',
    };

    const textThemeModifiers = {
      bold: 'dropdown__button__text_bold',
      nowrap: 'dropdown__button__text_nowrap',
    };

    const buttonClass = [buttonThemeModifiers[buttonTheme]];
    const textClass = [textThemeModifiers[textTheme]];

    const dropdownState = opened ? 'dropdown_opened': '';
    const dropdownType = splitted ? 'dropdown_splitted': '';
    const dropdownClasses = [dropdownState, dropdownType];

  .dropdown.js-dropdown(class=dropdownClasses)
    +element-wrapper({inline: true})
      button.dropdown__button.js-dropdown__button(class=buttonClass)
        span.dropdown__button__text.js-dropdown__button__text(class=textClass)= text
        span.dropdown__button__arrow= "expand_more"
      if splitted
        button.dropdown__button.js-dropdown__button(class=buttonClass)
          span.dropdown__button__text.js-dropdown__button__text(class=textClass)= text
          span.dropdown__button__arrow= "expand_more"
    .dropdown__body
      block
