mixin dropdown({text, labels={}, buttonTheme, textTheme, bodyTheme, splitted, opened})
  -
    const buttonThemeModifiers = {
      flat: 'dropdown__button_flat',
      withGap: 'dropdown__button_with-gap',
    };

    const bodyThemeModifiers = {
      shadowless: 'dropdown__body_shadowless',
    }

    const textThemeModifiers = {
      bold: 'dropdown__button__text_bold',
      nowrap: 'dropdown__button__text_nowrap',
    };

    const buttonClass = [buttonThemeModifiers[buttonTheme]];
    const textClass = [textThemeModifiers[textTheme]];
    const bodyClass = [bodyThemeModifiers[bodyTheme]];

    const dropdownState = opened ? 'dropdown_opened': '';
    const dropdownType = splitted ? 'dropdown_splitted': '';
    const dropdownClasses = [dropdownState, dropdownType];

  .dropdown.js-dropdown(class=dropdownClasses)
    +element-wrapper({inline: true})
      button.dropdown__button.js-dropdown-button(class=buttonClass)
        span.dropdown__button__text.js-dropdown-button__text(class=textClass)= text
        span.dropdown__button__arrow= "expand_more"
      if splitted
        button.dropdown__button.js-dropdown-button(class=buttonClass)
          span.dropdown__button__text.js-dropdown-button__text(class=textClass)= text
          span.dropdown__button__arrow= "expand_more"
    .dropdown__body(class=bodyClass)
      block
