extends ../common.pug

block head
  meta(
    name="description"
    content="toxin hotel booking website room description page"
  )

block title
  | Room Details

block body
  include ../../components/element-wrapper/element-wrapper.pug
  include ../../components/header/header.pug
  include ../../components/footer/footer.pug
  include ../../components/book-a-room-card/book-a-room-card.pug
  include ../../components/top-feature/top-feature.pug
  include ../../components/comment/comment.pug
  include ../../components/bullet-list/bullet-list.pug

  +header(false, true)
  main.room-details__body
    .room-details__body__photos
      img.room-details__body__photos-big(
        src=asset_path + '/room_888_big.webp',
        alt="room # 888 big preview",
        aria-label="room # 888 big preview"
      )
      .room-details__body__photos-lower-group
        img.room-details__body__photos-lower(
          src=asset_path + '/room_888_details_1.webp'
          alt="room # 888 small preview",
          aria-label="room # 888 small preview"
        )
        img.room-details__body__photos-lower(
          src=asset_path + '/room_888_details_2.webp'
          alt="room # 888 small preview",
          aria-label="room # 888 small preview"
        )
    .room-details__body__desc.container
      .room-details__body__desc__left
        .room-details__body__desc-row
          +element-wrapper({ label: 'Сведения о номере', extra_spacing: true, large_label: true })
            +top-feature({ icon: 'insert_emoticon', title: 'Комфорт', desc: 'Шумопоглащающие стены' })
            +top-feature({ icon: 'location_city', title: 'Удобство', desc: 'Окно в каждой из спален' })
            +top-feature({ icon: 'whatshot', title: 'Уют', desc: 'Номер оснащён камином' })
          +element-wrapper({ label: 'Впечатления от номера', extra_spacing: true, large_label: true })
            .room-impressions
              .statictic-ring
                .room-impressions__magnificent-ring
                .room-impressions__good-ring
                .room-impressions__nice-ring
                .room-impressions__center-ring
                  span.room-impressions__votes= "260"
                  | голосов
              ul.color-bullet-list
                li.color-bullet-list__item Великолепно
                li.color-bullet-list__item Хорошо
                li.color-bullet-list__item Удовлетворительно
                li.color-bullet-list__item Разочарован
        .room-details__body__desc-row
          +element-wrapper({
            label: 'Отзывы поситителей номера',
            sub_label: '2 отзыва',
            extra_spacing: true,
            large_label: true
          })
            .room-details__body__comment-section
              +comment({
                avatar_path: asset_path + '/comment_avatar_1.webp', 
                username: 'Мурад Сарафанов',
                date: '5 дней назад', 
                like_attrs: {name: 'comment-like-1', liked: true, like_count: 12}
              })
                | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясаяющий.
                | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару - никто
                | не жаловался из соседей.
              +comment({
                avatar_path: asset_path + '/comment_avatar_2.webp',
                username: 'Патрисия Стеклышкова',
                date: 'Неделю назад',
                like_attrs: {name: 'comment-like-2', liked: false, like_count: 2}
              })
                | Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать,
                | каждый день новое блюдо и десерт как комплимент
        .room-details__body__desc-row
          +element-wrapper({ label: 'Правила', extra_spacing: true, large_label: true })
            +bullet-list([
              'Нельзя с питомцами',
              'Без вечеринок и мероприятий',
              'Время прибытия — после 13:00, а выезд до 12:00 '
            ])
          +element-wrapper({ label: 'Отмена', extra_spacing: true, large_label: true })
            | Бесплатная отмена в течение 48 ч. После
            | этого при отмене не позднее чем за 5 дн. до
            | прибытия вы получите полный возврат за
            | вычетом сбора за услуги
      .room-details__body__desc__right
        +book-a-room-card
  +footer
