extends ../common.pug

block title
  | UI-KIT

block body
  // components
  include ../../components/element-wrapper/element-wrapper.pug
  include ../../components/text-field/text-field.pug
  include ../../components/dropdown/dropdown.pug
  include ../../components/checkbox/checkbox.pug
  include ../../components/radio-button/radio-button.pug
  include ../../components/toggle/toggle.pug
  include ../../components/like-button/like-button.pug
  include ../../components/rate-button/rate-button.pug
  include ../../components/range-slider/range-slider.pug
  include ../../components/buttons/button.pug
  include ../../components/buttons/border-button.pug
  include ../../components/buttons/flat-button.pug
  include ../../components/buttons/action-button.pug
  include ../../components/pagination/pagination.pug
  include ../../components/subscription-text-field/subscription-text-field.pug
  include ../../components/counter/counter.pug
  include ../../components/dropdown-counter/dropdown-counter.pug
  include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
  include ../../components/bullet-list/bullet-list.pug
  include ../../components/top-feature/top-feature.pug
  include ../../components/comment/comment.pug

  // cards
  include ../../components/cards/search-room/search-room.pug
  include ../../components/cards/account-registration/account-registration.pug
  include ../../components/cards/book-a-room/book-a-room.pug
  include ../../components/cards/login/login.pug
  include ../../components/room-item/room-item.pug

  // header & footers
  include ../../components/header/header.pug
  include ../../components/footer/footer.pug

  .container.toolbox
    .colors-type
      .colors-type__colors
        .colors-type__colors__item
          .color-example.color-example--dark-shade-100
          .color-desc
            h2= "Dark Shader 100%"
            | #1F2041
        .colors-type__colors__item
          .color-example.color-example--dark-shade-75
          .color-desc
            h2= "Dark Shader 75%"
            | #1F2041
        .colors-type__colors__item
          .color-example.color-example--dark-shade-50
          .color-desc
            h2= "Dark Shader 50%"
            | #1F2041
        .colors-type__colors__item
          .color-example.color-example--dark-shade-25
          .color-desc
            h2= "Dark Shader 25%"
            | #1F2041
        .colors-type__colors__item
          .color-example.color-example--dark-shade-5
          .color-desc
            h2= "Dark Shader 5%"
            | #1F2041
        .colors-type__colors__item
          .color-example.color-example--purple
          .color-desc
            h2= "Purple"
            | #BC9CFF
        .colors-type__colors__item
          .color-example.color-example--green
          .color-desc
            h2= "Green"
            | #6FCF87
      .colors-type__text-types
        .colors-type__text-types__item
          h1
            | This one is the sub-section or
            br
            | widget title
            span= "H1"
        .colors-type__text-types__item
          h2
            pre
              | Next one is the item title inside
              | widgets
            span= "H2"
        .colors-type__text-types__item
          h3
            | This is a label or cta text
            span= "H3"
        .colors-type__text-types__item
          pre
            | This is the body text which is used for most
            | of the design, like paragraphs, lists, etc.
          span= "Body"

  .toolbox.container.form-elements
    .form-elements__container
      .form-elements__text-fields
        +element-wrapper({ label: 'text field', sub_label: 'DEFAULT', extra_spacing: false, inline: false, large_label: false, })
          +text-field({type: 'email', placeholder: 'Email'})
        +element-wrapper({ label: 'text field', sub_label: 'HOVER / FOCUS', extra_spacing: false, inline: false, large_label: false, })
          +focused-text-field({type: 'text', placeholder: 'some text', value: 'This is pretty awesome'})
        +element-wrapper({ label: 'dropdown', sub_label: '', extra_spacing: false, inline: false, large_label: false, })
          +dropdown-counter({ id: 'guests-counter-1', placeholder: 'Сколько гостей', counters: [{name: 'взрослые', value: 0}, {name: 'дети', value: 0}, {name: 'младенцы', value: 0}], counting_way: 'sum', declensions: {'singular': 'гость', 'genitive': 'гостя', 'plural': 'гостей'}, opened: false, need_to_be_applied: true })
        +element-wrapper({ label: 'masked text field', sub_label: '', extra_spacing: false, inline: false, large_label: false, })
          +masked-text-field('ui-kit-masked-text-field-id')
      +element-wrapper({label: 'date dropdown', sub_label: '', extra_spacing: false, inline: false, large_label: false, })
      +element-wrapper({ label: 'filter date dropdown', sub_label: '', extra_spacing: false, inline: false, large_label: false, })
      +element-wrapper({ label: 'subscription text field', sub_label: '', extra_spacing: false, inline: false, large_label: false, })
        +subscription-text-field

    .form-elements__container
      +element-wrapper({ label: 'checkbox buttons', sub_label: '', extra_spacing: true, inline: false, large_label: false, })
        .form-elements__checkbox-group
          +checkbox('allow-smoking', 'allow-smoking', 'Можно курить', false)
          +checkbox('allow-pets', 'allow-pets', 'Можно с питомцами', true)
          +checkbox('allow-guests', 'allow-guests', 'Можно пригласить гостей (до 10 человек)', true)
      +element-wrapper({ label: 'radio buttons', sub_label: '', extra_spacing: true, inline: false, large_label: false, })
        +radio-buttons-group('gender', [{value: 'Мужчина', checked: true}, {value: 'Женщина', checked: false}])
      +element-wrapper({ label: 'toggle', sub_label: '', extra_spacing: true, inline: false, large_label: false, })
        .form-elements__toggle-group
          +toggle('special-offers-toggle_1', 'recieve-special-offers', true)
            | Получать спецпредложения
          +toggle('special-offers-toggle_2', 'recieve-special-offers')
            | Получать спецпредложения
      +element-wrapper({ label: 'like button', sub_label: '', extra_spacing: true, inline: true, large_label: false, })
        +like-button('like-1', false, '2')
        +like-button('like-2', true, '12')
      +element-wrapper({ label: 'rate button', sub_label: '', extra_spacing: true, inline: true, large_label: false, })
        +rate-button('ui-kit-rate-buttons-1', 4)
        +rate-button('ui-kit-rate-buttons-2', 5)

    .form-elements__container
      +element-wrapper({ label: '', sub_label: '', extra_spacing: false, inline: false, large_label: false, })
        +range-slider('range slider', 'cost-range-slider', { min: 0, max: 15000, step: 100, left: 5000, right: 10000, })
      +element-wrapper({ label: 'buttons', sub_label: '', extra_spacing: true, inline: false, large_label: false, })
        .form-elements__buttons
          .form-elements__buttons__row
            +button('click me')
            +button('click me', true)
          .form-elements__buttons__row
            +border-button('click me')
            +border-button('click me', true)
          .form-elements__buttons__row
            +flat-button('click me')
            +flat-button('click me', true)
          .form-elements__buttons__row
            +action-button('Перейти к оплате')
      +element-wrapper({ label: 'pagination', sub_label: '', extra_spacing: true, inline: false, large_label: false, })
        +pagination('1 - 12 из 100+ вариантов аренды')

    .form-elements__container.form-elements__narrow
      +element-wrapper({ label: 'dropdown', sub_label: 'DEFAULT', extra_spacing: false, inline: false, large_label: false, })
        +dropdown-counter({ id: 'room-properties-1', placeholder: 'Параметры номера', counters: [{name: 'спальни', value: 2}, {name: 'кровати', value: 2}, {name: 'вынные комнаты', value: 1}], counting_way: 'apart', declensions: [ {'singular': 'спальня', 'genitive': 'спальни', 'plural': 'спален'}, {'singular': 'кровать', 'genitive': 'кровати', 'plural': 'кроватей'}, {'singular': 'ванная комната', 'genitive': 'ванные комнаты', 'plural': 'ванных комнат'}, ], opened: false, need_to_be_applied: false })
      +element-wrapper({ label: 'dropdown', sub_label: 'EXPANDED', extra_spacing: false, inline: false, large_label: false, })
        +dropdown-counter({ id: 'room-properties-2', placeholder: 'Параметры номера', counters: [{name: 'спальни', value: 2}, {name: 'кровати', value: 2}, {name: 'вынные комнаты', value: 0}], counting_way: 'apart', declensions: [ {'singular': 'спальня', 'genitive': 'спальни', 'plural': 'спален'}, {'singular': 'кровать', 'genitive': 'кровати', 'plural': 'кроватей'}, {'singular': 'ванная комната', 'genitive': 'ванные комнаты', 'plural': 'ванных комнат'}, ], opened: true, need_to_be_applied: false })

    .form-elements__container
      +element-wrapper({ label: 'dropdown', })
        +dropdown-counter({ id: 'guests-counter-2', placeholder: 'Сколько гостей', counters: [{name: 'взрослые', value: 0}, {name: 'дети', value: 0}, {name: 'младенцы', value: 0}], counting_way: 'sum', declensions: {'singular': 'гость', 'genitive': 'гостя', 'plural': 'гостей'}, opened: true, need_to_be_applied: true })
    .form-elements__container
      +element-wrapper({ label: 'dropdown', sub_label: '', extra_spacing: false, inline: false, large_label: false, })
        +dropdown-counter({ id: 'guests-counter-3', placeholder: 'Сколько гостей', counters: [{name: 'взрослые', value: 2}, {name: 'дети', value: 1}, {name: 'младенцы', value: 0}], counting_way: 'sum', declensions: {'singular': 'гость', 'genitive': 'гостя', 'plural': 'гостей'}, opened: true, need_to_be_applied: true })

    .form-elements__container
      +expandable-checkbox-list('expandable checkbox list', [ { text: 'Завтрак', name: 'breakfast-0', value: 'has-breakfast', checked: false, }, { text: 'Письменный стол', name: 'desk-0', value: 'has-desk', checked: true, }, { text: 'стул для кормления', name: 'feeding-chair-0', value: 'has-feeding-chair', checked: true, }, { text: 'кроватка', name: 'crib-0', value: 'has-crib', checked: true, }, { text: 'телевизор', name: 'tv-0', value: 'has-tv', checked: false, }, { text: 'шампунь', name: 'shampoo-0', value: 'has-shampoo', checked: false, }, ], true)
      +expandable-checkbox-list('expandable checkbox list', [ { text: 'Завтрак', name: 'breakfast', value: 'has-breakfast', checked: false, }, { text: 'Письменный стол', name: 'desk', value: 'has-desk', checked: true, }, { text: 'стул для кормления', name: 'feeding-chair', value: 'has-feeding-chair', checked: true, }, { text: 'кроватка', name: 'crib', value: 'has-crib', checked: true, }, { text: 'телевизор', name: 'tv', value: 'has-tv', checked: false, }, { text: 'шампунь', name: 'shampoo', value: 'has-shampoo', checked: false, }, ], false)

    .form-elements__container
      +element-wrapper({ label: 'rich checkbox buttons', sub_label: '', extra_spacing: true, inline: false, large_label: false, })
        .form-elements__rich-checkbox-group
          +checkbox('wide-corridor', 'wide-corridor', 'Широкий коридор')
            | Ширина коридоров в номере не менее 91 см.
          +checkbox('assistant for disabled', 'assistant for disabled', 'Помощник для инвалидов')
            | На 1 этаже вас стретит специалист и проводит до номера

    .form-elements__container
      +element-wrapper({ label: 'bullet list', sub_label: '', extra_spacing: true, inline: false, large_label: false, })
        +bullet-list([ 'Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00' ])

    +element-wrapper({ label: '', sub_label: '', extra_spacing: false, inline: false, large_label: false, })
      +top-feature('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
      +top-feature('location_city', 'Удобство', 'Окно в каждой из спален')

    .form-elements__comment-container
      +comment('/static/comment_avatar_1.webp', 'Мурад Сарафанов', '5 дней назад', {name: 'comment-like', liked: true, like_count: '12'})
        | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясаяющий.
        | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару - никто
        | не жаловался из соседей.

  .container.toolbox.toolbox--gray.cards
    +search-room-card
    +account-registration-card
    +book-a-room-card
    +login-card

    +room-item({ bgi: "/static/room_888.webp", number: "888", luxury: true, cost: "9 990", stars: 5, review: 145 })

    +room-item({ bgi: "/static/room_840.webp", number: "840", luxury: false, cost: "9 900", stars: 4, review: 65 })

  .toolbox.toolbox--gray.headers-footers
    +header(false)
    +header(true)
    +footer-desktop
    +footer-mobile
