extends ../common.pug

block title
  | UI-KIT

block body
  // components
  include ../../components/element-wrapper/element-wrapper.pug
  include ../../components/text-field/text-field.pug
  include ../../components/dropdown/dropdown.pug
  include ../../components/checkbox/checkbox.pug
  include ../../components/radio-button/radio-button.pug
  include ../../components/toggle/toggle.pug
  include ../../components/like-button/like-button.pug
  include ../../components/rate-button/rate-button.pug
  include ../../components/range-slider/range-slider.pug
  include ../../components/buttons/button.pug
  include ../../components/buttons/border-button.pug
  include ../../components/buttons/flat-button.pug
  include ../../components/buttons/action-button.pug
  include ../../components/pagination/pagination.pug
  include ../../components/date-dropdown/date-dropdown.pug
  include ../../components/filter-date-dropdown/filter-date-dropdown.pug
  include ../../components/subscription-text-field/subscription-text-field.pug
  include ../../components/counter/counter.pug
  include ../../components/dropdown-counter/dropdown-counter.pug
  include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
  include ../../components/rich-checkbox/rich-checkbox.pug
  include ../../components/bullet-list/bullet-list.pug
  include ../../components/top-feature/top-feature.pug
  include ../../components/comment/comment.pug

  // cards
  include ../../components/cards/search-room/search-room.pug
  include ../../components/cards/account-registration/account-registration.pug
  include ../../components/cards/book-a-room/book-a-room.pug
  include ../../components/cards/login/login.pug
  include ../../components/calendar/calendar.pug
  include ../../components/room-item/room-item.pug

  // header & footers
  include ../../components/header/header.pug
  include ../../components/footer/footer.pug

  .container.toolbox
    .colors-type
      .colors-type__colors
        .colors-type__colors__item
          .color-example.color-example--dark-shade-100
          .color-desc
            h2= 'Dark Shader 100%'
            | #1F2041
        .colors-type__colors__item
          .color-example.color-example--dark-shade-75
          .color-desc
            h2= 'Dark Shader 75%'
            | #1F2041
        .colors-type__colors__item
          .color-example.color-example--dark-shade-50
          .color-desc
            h2= 'Dark Shader 50%'
            | #1F2041
        .colors-type__colors__item
          .color-example.color-example--dark-shade-25
          .color-desc
            h2= 'Dark Shader 25%'
            | #1F2041
        .colors-type__colors__item
          .color-example.color-example--dark-shade-5
          .color-desc
            h2= 'Dark Shader 5%'
            | #1F2041
        .colors-type__colors__item
          .color-example.color-example--purple
          .color-desc
            h2= 'Purple'
            | #BC9CFF
        .colors-type__colors__item
          .color-example.color-example--green
          .color-desc
            h2= 'Green'
            | #6FCF87
      .colors-type__text-types
        .colors-type__text-types__item
          h1
            | This one is the sub-section or
            br
            | widget title
            span= 'H1'
        .colors-type__text-types__item
          h2
            | Next one is the item title inside
            br
            | widgets
            span= 'H2'
        .colors-type__text-types__item
          h3
            | This is a label or cta text
            span= 'H3'
        .colors-type__text-types__item
          | This is the body text which is used for most
          br
          | of the design, like paragraphs, lists, etc.
          span= 'Body'

  .toolbox.container.form-elements
    .form-elements__container
      .form-elements__text-fields
        +element-wrapper('text field', 'default')
          +text-field({type: 'email', placeholder: 'Email'})
        +element-wrapper('text field', 'hover / focus')
          +focused-text-field({type: 'text', placeholder: 'some text', value: 'This is pretty awesome'})
        +element-wrapper('dropdown')
          +dropdown-counter('guests-counter-1', 'Сколько гостей', ['взрослые', 'дети', 'младенцы'], true, true)
        +element-wrapper('masked text field')
          +masked-text-field()
      +date-dropdown(
        {label: 'date dropdown', placeholder: 'ДД.ММ.ГГГГ'},
        {label: 'date dropdown', placeholder: '19.08.2019'},
      )
      +element-wrapper('filter date dropdown')
        +filter-date-dropdown('19 авг - 23 авг')
      +element-wrapper('subscription text field')
        +subscription-text-field()

    .form-elements__container
      +element-wrapper('checkbox buttons', '', false, true)
        +checkbox('allow-smoking', 'allow-smoking', false)
          | Можно курить
        +checkbox('allow-pets', 'allow-pets', true)
          | Можно с питомцами
        +checkbox('allow-guests', 'allow-guests', true)
          | Можно пригласить гостей (до 10 человек)
      +element-wrapper('radio buttons', '', false, true)
        +radio-buttons-group('gender', [{value: 'Мужчина', checked: true}, {value: 'Женщина', checked: false}])
      +element-wrapper('toggle')
        +toggle('special-offers-toggle_1', 'recieve-special-offers')
          | Получать спецпредложения
        +toggle('special-offers-toggle_2', 'recieve-special-offers')
          | Получать спецпредложения
      +element-wrapper('like button', '', true, true)
        +like-button('like-1', false, '2')
        +like-button('like-2', true, '12')
      +element-wrapper('rate button', '', true, true)
        +rate-button(4)
        +rate-button(5)

    .form-elements__container
      +element-wrapper('')
        +range-slider('range slider', 'cost-range-slider', {
          min: 0,
          max: 15000,
          step: 100,
          left: 5000,
          right: 10000,
        })
      +element-wrapper('buttons', '', false, true)
        .form-elements__buttons
          .form-elements__buttons__row
            +button('click me')
            +button('click me', true)
          .form-elements__buttons__row
            +border-button('click me')
            +border-button('click me', true)
          .form-elements__buttons__row
            +flat-button('click me')
            +flat-button('click me', true)
          .form-elements__buttons__row
            +action-button('Перейти к оплате')
      +element-wrapper('pagination')
        +pagination('1 - 12 из 100+ вариантов аренды')

    .form-elements__container
      +element-wrapper('dropdown', 'default')
        +dropdown-counter('room-properties-1-1', 'параметры номера', ['спальни', 'кровати', 'ванные комнаты'], true, false)
      +element-wrapper('dropdown', 'expanded')
        +dropdown-counter('room-properties-1-1', 'параметры номера', ['спальни', 'кровати', 'ванные комнаты'], false, false)

    .form-elements__container
      +element-wrapper('dropdown')
        +dropdown-counter('guests-counter-2', 'Сколько гостей', ['взрослые', 'дети', 'младенцы'], false, true)
    .form-elements__container
      +element-wrapper('dropdown')
        +dropdown-counter('guests-counter-3', 'Сколько гостей', ['взрослые', 'дети', 'младенцы'], false, true)

  .container.toolbox.toolbox--gray.cards
    +search-room-card()
    +account-registration-card()
    +book-a-room-card()
    +login-card()
    +calendar('Август', 2019)

    +room-item({
      bgi: "/static/room_888.png",
      number: "888",
      luxury: true,
      cost: "9 990",
      stars: 5,
      review: 145
    })

    +room-item({
      bgi: "/static/room_840.png",
      number: "840",
      luxury: false,
      cost: "9 900",
      stars: 4,
      review: 65
    })

  .toolbox.toolbox--gray.headers-footers
    +header(false)
    +header(true)
    +footer-desktop()
    +footer-mobile()
