mixin like-button({ name, liked=false, count='0' })
  .like-button
    - var id = name + "-id";
    input.like-button__element(
      checked=liked,
      id=id,
      name=name,
      type='checkbox',
      value=name
    )
    label.like-button__label(for=id)= count
    .like-button__border
