mixin like-button(name, liked=false, count='0')
  div(class=liked ? 'like-button--checked' : '').like-button
    - var id = name + '-id'
    input(type="checkbox", id=id, name=name, value=name).like-button__element
    label(for=id).like-button__label= count
