mixin counter(id, index, text, initial_count=0)
  .counter(data-index=index, id=id)
    span.counter__text= text
    .counter__actions
      button.counter__btn.counter__minus= "-"
      span.counter__count= initial_count
      button.counter__btn.counter__plus= "+"
