mixin counter(id, text, initial_count=0)
  .counter(id=id)
    span.counter__text= text
    .counter__right
      button.counter__btn.counter__minus= '-'
      span.counter__count= initial_count
      button.counter__btn.counter__plus= '+'
