mixin radio-buttons-group(group_name, items)
  .radio-buttons-group
    each item in items
      -var id = item.value + '-id'
        .radio-button
          input(type="radio", value=item.value, name=group_name, id=id, checked=item.checked).radio-button__element
          label(for=id).radio-button__label= item.value
