<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title UI-KIT
  body

    //- Colors & Type
    .toolbox__container

      mixin color-desc(color_name, color_value)
        .color-desc
          .toolbox__label.quicksand_bold.text_capitalize= color_name
            .toolbox__label.quicksand.text_uppercase
              | ##{color_value}

      mixin text-type(tag_name)
        .text-type
          .text-type__preview
              - var text_transform = tag_name == 'body' ? 'text_capitalize' : 'text_uppercase'
              case tag_name
                when 'h1': h1
                  span.text-type__label.montserrat(class=text_transform)= tag_name
                  block
                when 'h2': h2
                  span.text-type__label.montserrat(class=text_transform)= tag_name
                  block
                when 'h3': h3
                  span.text-type__label.montserrat(class=text_transform)= tag_name
                  block
                default: p
                  span.text-type__label.montserrat(class=text_transform)= tag_name
                  block

      .toolbox__colors-type

        .color-example.bgc_dark-shade-100
        +color-desc('dark shade 100%', '1f2041')
        +text-type('h1')
          | This one is the sub-section or widget title

        .color-example.bgc_dark-shade-75
        +color-desc('dark shade 75%', '1f2041')
        +text-type('h2')
          | Next one is the item title inside widgets

        .color-example.bgc_dark-shade-50
        +color-desc('dark shade 50%', '1f2041')
        +text-type('h3')
          | This is a label or CTA text

        .color-example.bgc_dark-shade-25
        +color-desc('dark shade 25%', '1f2041')
        +text-type('body')
          | This is the body text which is used for most of the design,
          | like paragraphs, lists, etc.

        .color-example.bgc_dark-shade-5
        +color-desc('dark shade 5%', '1f2041')

        .color-example.bgc_purple-color
        +color-desc('purple', 'bc9cff')

        .color-example.bgc_green-color
        +color-desc('green', '6fcf97')

    //- Form Elements
    .toolbox__container

      mixin item(label, state)
        .toolbox__form-elements__item
          .toolbox__form-elements__item__label= label
            span= state ? state : 'default'
          block

      include ../components/text-field/text-field.pug
      include ../components/dropdown/dropdown.pug
      include ../components/checkbox/checkbox.pug
      include ../components/radio-button/radio-button.pug
      include ../components/toggle/toggle.pug
      include ../components/like-button/like-button.pug

      .toolbox__form-elements

        .toolbox__form-elemnts__items-group.column_1.row_1
          +item('text field')
            +text-field({type: 'email', placeholder: 'Email'})

          +item('text field', 'hover / focus')
            +focused-text-field({type: 'text', placeholder: 'some text', value: 'This is pretty awesome'})

          +item('dropdown')
            +dropdown('Сколько гостей', ['взрослые', 'дети', 'младенцы'])

          +item('masked text field')
            +masked-text-field(
              '(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])(19|20)\\d\\d',
              "01012000",
              '__.__.____',
              {placeholder: 'ДД.ММ.ГГГГ'}
            )

          +item('date dropdown', ' ')
          +item('date dropdown', ' ')
          +item('filter date dropdown', ' ')
          +item('subscription text field', ' ')

        .toolbox__form-elemnts__items-group.column_2.row_1
          +item('checkbox buttons', ' ')
            +checkbox('allow-smoking', '')
              | Можно курить
            +checkbox('allow-pets', '')
              | Можно с питомцами
            +checkbox('allow-guests', '')
              | Можно пригласить гостей (до 10 человек)

          +item('radio buttons', ' ')
            +radio-buttons-group('gender', ['Мужчина', 'Женщина'])

          +item('toggle', ' ')
            +toggle('special-offers-toggle_1', 'recieve-special-offers')
              | Получать спецпредложения
            +toggle('special-offers-toggle_2', 'recieve-special-offers')
              | Получать спецпредложения

          +item('like button', ' ')
            .inline-items
              +like-button('like-1')
              +like-button('like-2')

        //- 3rd column 1st row
        .toolbox__form-elemnts__items-group.column_3.row_1
          +item('range slider')
            +text-field({type: 'email', placeholder: 'Email'})

          +item('buttons', ' ')
          +item('pagination', ' ')
