mixin checkbox(name, value, checked=false)
  - var id = name + "-id";
  .checkbox
    input.checkbox__element(
      checked=checked,
      id=id,
      name=name,
      type='checkbox',
      value=value
    )
    label.checkbox__label(for=id)
      block
