mixin checkbox(name, value, label, checked=false)
  - var id = name + "-id";
  .checkbox
    .checkbox__body
      input.checkbox__element(
        checked=checked,
        id=id,
        name=name,
        type='checkbox',
        value=value
      )
      label.checkbox__label(for=id)= label
    span.checkbox__desc
      block
