include ../rate-button/rate-button.pug

mixin room-desc(number, cost, luxury=false)
  .room-item__desc-item
    .room-item__name
      | №
      .room-item__number
        | #{number}
      if luxury
        .room-item__luxury
          | люкс
    .room-item__cost
      strong
        | #{cost}₽
      | в сутки

mixin room-item(props)
  .room-item
    img(src=props.bgi)
    .image-slider
      .image-slider__filled
      .image-slider__empty
      .image-slider__empty
      .image-slider__empty
    .room-item__desc
      +room-desc(props.number, props.cost, props.luxury)
      hr
      .room-item__desc-item
        +rate-button('rating-room-' + props.number, props.stars)
        - var text = "отзывов";
        .room-item__review
          strong
            | #{props.review}
          | #{text}
