mixin toggle(name, value, checked=false)
  .toggle
    -var id = name + '-id'
    input(type="checkbox", name=name, id=id, checked=checked).toggle__element
    label(for=id).toggle__label
      block
