mixin toggle(name, value, checked=false)
  .toggle
    - var id = name + "-id";
    input.toggle__element(type='checkbox', name=name, id=id, checked=checked)
    label.toggle__label(for=id)
      block
