mixin element-wrapper(attrs)
  - var inline_class_name = attrs.inline ? 'element-wrapper__item--inline' : ''
  - var extra_spacing_class_name = attrs.extra_spacing ? 'element-wrapper__label--extra-spacing' : ''

  .element-wrapper
    div(class=extra_spacing_class_name).element-wrapper__label

      if attrs.large_label
        h2= attrs.label
      else
        h3= attrs.label

      span= attrs.sub_label
    div(class=inline_class_name).element-wrapper__item
      block
