include ../counter/counter.pug

mixin dropdown-counter(id, label, placeholder, counters, closed=false, need_to_be_applied=false)
  - var closed_class = closed ? 'dropdown-counter_closed' : ''
  div(class=closed_class, id=id).dropdown-counter
    h3
      | #{label}
    button.dropdown-counter__btn= placeholder
    ul.dropdown-counter__list
      each counter, index in counters
        li.dropdown-counter__list__item
          - var _id = id + '-' + index
          +counter(_id, counter)
      if need_to_be_applied
        .dropdown-counter__buttons
          button.dropdown-counter__buttons-cancel
            | отмена
          button.dropdown-counter__buttons-apply
            | применить
