include ../counter/counter.pug

mixin dropdown-counter(attrs)
  - var closed_class = attrs.closed ? 'dropdown-counter--closed' : ''

  div(class=closed_class, id=attrs.id).dropdown-counter
    button(
      data-placeholder=attrs.placeholder,
      data-counting-way=attrs.counting_way,
      data-declensions=attrs.declensions,
    ).dropdown-counter__btn
      span= attrs.placeholder

    ul.dropdown-counter__list
      each counter, index in attrs.counters
        li.dropdown-counter__list__item
          - var _id = attrs.id + '-' + index
          +counter(_id, index, counter.name, counter.value)

      if attrs.need_to_be_applied
        .dropdown-counter__buttons
          button.dropdown-counter__buttons-cancel
            | отмена
          button.dropdown-counter__buttons-apply
            | применить
